* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

label{
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.undotted {
  list-style-type: none;
}

.header{
  display: flex;
  align-items: center;
  margin-bottom: 129px;
  margin-top: 50px;
  font-family: Open Sans;
}


.header__nav{
  display: flex;
}
.header__list{
  display: flex;
}

.header__list-item:hover{
  opacity: 0.5;
}

.header__list-item:active{
  opacity: 0.2;
}

.left {
  margin-right: auto;
}

.header__logo {
  margin-right: 60px;
}

.header__logo:hover{
  opacity: 0.5;
}

.header__logo:active{
  opacity: 0.2;
}

.header__list-link{
  line-height: 19px;
  color: #1E0606;
  margin-right: 20px;
}

.info__search{
  color: #1E0606;
  margin-right: 24px;
  line-height: 18px;
  max-width: 100%;
}

.info{
  font-weight: 700;
  max-width: max-cotent;
  line-height: 20px;
  color: #1E0606;
}

.btn {
  border: none;
}

/* popup */

.popup {
  display: none;
  top: 25%;
  left: 30%;
  position: absolute;
  z-index: 1;
}

.open {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(125, 151, 218, 0.8);
}

.popup__wr {
  display: flex;
  z-index: 3;
}

.close {
  background: none;
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-image: url('../img/close.png');